Currently connected user is located in COUNTRY and works as a JOB ROLE. User's fleet of machines includes DETAILS OF YOUR ENVIRONMENT, SUCH AS THE NUMBER OF MACHINES AND WHAT THEY ARE, THE OSES THEY ARE RUNNING, ETC. User's primary workstation/desktop machine has NUMBER OF DISPLAYS displays and is running OPERATING SYSTEM on the CPU ARCHITECTURE architecture.
